/*-----------------------------------*\
 * style.css
\*-----------------------------------*/

/*-----------------------------------*\
 * #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /**
   * colors
   */

  --raw-seinna: hsl(24, 74%, 52%);
  --sizzling-sunrise: hsl(51, 95%, 54%);
  --scarlet: hsl(13, 96%, 47%);
  --second: hsl(0, 0%, 18%);
  --white: hsl(0, 0%, 100%);

  /**
   * typography
   */

  --ff-saira-stencil-one: "Saira Stencil One", sans-serif;
  --ff-poppins: "Poppins", sans-serif;
  --ff-roboto: "Roboto", sans-serif;
  --fs-1: 1rem;
  --fs-2: calc(1.813rem + 1vw);
  --fs-3: calc(1.313rem + 1vw);
  --fs-4: 1.4rem;
  --fs-5: 1rem;
  --fs-6: 0.813rem;
  --fs-7: 0.75rem;

  --fw-400: 400;
  --fw-700: 700;

  /**
   * transition
   */

  --transition-1: 0.25s ease-in-out;

  /**
   * spacing
   */

  --section-padding: 80px;

  /**
   * radius
   */

  --radius-4: 4px;
  --radius-12: 12px;
}

/*-----------------------------------*\
 * #THEME COLORS
\*-----------------------------------*/

body.dark_theme {
  --bg-primary: hsl(0, 0%, 15%);
  --bg-secondary: hsl(0, 0%, 18%);
  --color-primary: hsl(0, 0%, 95%);
  --color-secondary: hsl(0, 0%, 62%);
  --card-shadow: hsla(0, 0%, 0%, 0.4);
  --bg-bullet: hsl(0, 0%, 80%);
  --active-bullet: hsl(0, 0%, 100%);
  --shadow: hsl(180, 46%, 55%);
  --filter-shadow: drop-shadow(16px 16px 20px red) invert(75%);
  --shadow-1: 10px 10px 40px var(--card-shadow);
}

body.light_theme {
  --bg-primary: hsl(0, 0%, 95%);
  --bg-secondary: hsl(0, 0%, 100%);
  --color-primary: hsl(0, 0%, 15%);
  --color-secondary: hsl(0, 0%, 37%);
  --card-shadow: hsla(0, 0%, 0%, 0.1);
  --bg-bullet: hsl(0, 0%, 20%);
  --active-bullet: hsl(0, 0%, 10%);
  --shadow: hsl(0, 0%, 25%);
  --filter-shadow: drop-shadow(16px 16px 20px white) invert(75%);
  --shadow-1: 10px 10px 40px var(--card-shadow);
}

/*-----------------------------------*\
 * #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
img,
time,
span,
input,
label,
select,
button,
textarea,
ion-icon {
  display: block;
}

input,
button,
select,
textarea {
  background: none;
  border: none;
  font: inherit;
}

button,
select {
  cursor: pointer;
}

input,
textarea {
  width: 100%;
}

ion-icon {
  pointer-events: none;
}

:is(a, button, select) {
  outline-color: var(--scarlet);
  outline-offset: 3px;
}

::selection {
  background: var(--color-primary);
  color: var(--bg-primary);
}

html {
  font-family: var(--ff-roboto);
  scroll-behavior: smooth;
}

body {
  background: var(--bg-primary);
  transition: var(--transition-1);
}

body.active {
  overflow: hidden;
}

/*-----------------------------------*\
 * #REUSED STYLE
\*-----------------------------------*/

.container {
  padding-inline: 10px;
}

.h1 {
  font-size: var(--fs-1);
  line-height: 1.2;
  font-weight: 400;
}

.h2,
.h3,
.h4 {
  color: var(--color-primary);
  font-family: var(--ff-roboto);
  line-height: 1.2;
}

.h2 {
  font-size: var(--fs-2);
}

.h3 {
  font-size: var(--fs-3);
}

.h4 {
  font-size: var(--fs-5);
}

.w-100 {
  width: 100%;
}

.btn {
  max-width: max-content;
  border: 1px solid var(--color-primary);
  background: none;
  padding: 10px 25px;
  text-transform: capitalize;
  font-weight: var(--fw-700);
  border-radius: var(--radius-4);
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 15px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}
.btn-primary {
  color: var(--color-primary);
}
.btn-primary:hover {
  color: var(--bg-primary);
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: var(--color-primary);
  z-index: -1;
  transition: 0.8s;
}

.btn-primary::before {
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.btn-primary:hover::before {
  height: 180%;
}

.btn-secondary {
  color: var(--bg-primary);
}
.btn-secondary:hover {
  color: var(--color-primary);
}

.btn-secondary::before {
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.btn-secondary::before {
  height: 180%;
}
.btn-secondary:hover::before {
  height: 0%;
}

.section-subtitle {
  position: relative;
  color: var(--color-secondary);
  text-transform: capitalize;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.section-subtitle::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 60px;
  height: 2px;
  background: var(--color-secondary);
}

.section-title {
  font-size: 47px;
  font-weight: 900;
  max-width: 350px;
  margin-bottom: 30px;
}

.section-text {
  color: var(--color-secondary);
  line-height: 1.8;
  margin-bottom: 30px;
}

/*-----------------------------------*\
 * #HEADER
\*-----------------------------------*/

.header {
  padding-block: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: var(--transition-1);
  z-index: 4;
}

.header.active {
  padding-block: 12px;
  background: var(--bg-secondary);
  box-shadow: var(--shadow-1);
}

.header .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.logo {
  position: relative;
  min-width: 77px;
  z-index: 2;
  margin-right: auto;
}

.logo a {
  color: var(--color-primary);
  font-family: var(--ff-poppins);
}

.navbar-actions {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;
}

.navbar-actions select {
  color: var(--color-primary);
  width: 45px;
}

.navbar-actions option {
  background: var(--bg-primary);
  color: var(--color-primary);
}

.theme-btn {
  padding: 4px;
  width: 48px;
  background: var(--bg-secondary);
  border-radius: 100px;
  transition: var(--transition-1);
}

.header.active .theme-btn {
  background: var(--bg-primary);
}

.theme-btn .icon {
  position: relative;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  box-shadow: inset 9px -6px var(--color-primary);
  transition: var(--transition-1);
}

.theme-btn.active .icon {
  left: 20px;
  box-shadow: inset 20px -20px var(--sizzling-sunrise);
}

.nav-toggle-btn {
  position: relative;
  transform: rotate(-55deg);
  transition: var(--transition-1);
  z-index: 2;
}

.nav-toggle-btn.active {
  transform: rotate(-45deg);
}

.nav-toggle-btn span {
  width: 20px;
  height: 2px;
  background: var(--color-primary);
  margin: 5px;
  transition: var(--transition-1);
}

.nav-toggle-btn :is(.one, .three) {
  width: 10px;
}

.nav-toggle-btn .one {
  margin-left: auto;
  transform-origin: left;
}

.nav-toggle-btn .three {
  transform-origin: right;
}

.nav-toggle-btn.active .one {
  transform: rotate(90deg) translateX(-3px);
}

.nav-toggle-btn.active .three {
  transform: rotate(90deg) translateX(3px);
}

.navbar {
  position: fixed;
  background: var(--bg-secondary);
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  visibility: hidden;
  transition: 0.75s cubic-bezier(0.71, 0.01, 0.24, 0.99);
  transition-delay: 0.5s;
  z-index: 1;
}

.navbar.active {
  top: 0;
  visibility: visible;
  transition-delay: 0s;
}

.navbar-list > li {
  margin-block: 20px;
  padding-inline: 50px;
  overflow: hidden;
}

.navbar-link {
  position: relative;
  width: max-content;
  margin-inline: auto;
  color: var(--color-primary);
  font-family: var(--ff-poppins);
  font-size: var(--fs-1);
  padding: 10px;
  transform: translateY(50px);
  transition: 0.75s cubic-bezier(0.68, -0.55, 0.27, 2);
}

.navbar.active .navbar-link {
  transform: translateY(0);
  transition-delay: 0.5s;
}

.navbar-link::before {
  content: "";
  position: absolute;
  top: 80%;
  transform: translateY(-50%);
  left: 0;
  height: 5px;
  width: 0;
  background: var(--color-primary);
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus)::before {
  width: 100%;
}

/*-----------------------------------*\
 * #HERO
\*-----------------------------------*/

main {
  overflow-x: hidden;
}

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-banner {
  margin-top: 30px;
  margin-bottom: 30px;
}
.hero .section-title {
  margin-bottom: 0;
}
.hero p {
  font-size: 25px;
  font-weight: 700;
  color: var(--color-primary);
}
.hero .social-media {
  display: flex;
  font-size: 30px;
  margin-top: 20px;
}
.hero .social-media a {
  color: var(--color-primary);
  padding: 10px;
  margin-right: 10px;
  background: var(--bg-secondary);
  border-radius: 50%;
  /* filter: drop-shadow(0 0 0.75rem var(--shadow)); */
  transition: 0.25s ease;
}
.hero .social-media a:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.hero .wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/*-----------------------------------*\
 * #ABOUT
\*-----------------------------------*/

.about {
  padding-block: var(--section-padding);
}
.about .btn {
  text-align: center;
}

.about-banner {
  margin-top: 50px;
  max-width: 400px;
  margin-inline: auto;
  margin-bottom: 80px;
}
.about-banner img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.about-banner img {
  border: 8px solid var(--bg-secondary);
}

/*-----------------------------------*\
 * #SKILLS
\*-----------------------------------*/

.skills {
  padding-block: var(--section-padding);
}

.skills-content {
  text-align: center;
  margin-bottom: 50px;
}

.skills-content h2 {
  display: inline-block;
}
.skills-content h4 {
  color: var(--color-primary);
}

.skills-box .skills-list,
.skills-box.active .tools-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  animation: fadeIn 0.5s ease-out forwards;
  /* margin-top: 30px; */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.skill-card {
  position: relative;
  background: var(--bg-secondary);
  width: 110px;
  height: 110px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  box-shadow: var(--shadow-1);
  transition: 0.25s ease;
  margin-bottom: 5px;
}
.skill-card:hover {
  transform: scale(1.1);
}

/*-----------------------------------*\
 * #PROJECT
\*-----------------------------------*/

.project {
  padding-block: var(--section-padding);
}
.project .section-title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.project .projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.project .project-card {
  width: 300px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
.project .project-card h3 {
  align-self: flex-start;
}

.project .project-card p {
  align-self: flex-start;
}
.project h3,
p {
  color: var(--color-primary);
  line-height: 1.6;
}
.project .project-card img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  margin-bottom: 10px;
}

.project .buttons {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

@media (max-width: 480px) {
  .project .buttons {
    flex-wrap: wrap;
  }

  .project .demo-button,
  .project .code-button {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/* modal popup video*/

.popup-video {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
}
.popup-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  object-fit: cover;
}
.popup-video span {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 40px;
  color: #fff;
  font-weight: 700;
  z-index: 99999;
  cursor: pointer;
}

@media (max-width: 768px) {
  .popup-video video {
    width: 95%;
  }
}

/*-----------------------------------*\
 * #CONTACT
\*-----------------------------------*/

.contact {
  padding-block: var(--section-padding);
}
.contact-content {
  margin-bottom: 50px;
  text-align: center;
}
.contact-content h2 {
  display: inline-block;
}
.contact-content .section-text {
  max-width: 600px;
  margin: auto;
  margin-bottom: 80px;
}

.contact .btn {
  margin: auto;
}

/*-----------------------------------*\
 * #FOOTER
\*-----------------------------------*/

.footer {
  background: var(--bg-secondary);
  padding-block: 20px;
  text-align: center;
  box-shadow: var(--shadow-1);
}

.copyright {
  color: var(--color-secondary);
  line-height: 1.6;
}

/*-----------------------------------*\
 * #GO TO TOP
\*-----------------------------------*/

.go-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 45px;
  height: 45px;
  display: grid;
  place-items: center;
  font-size: 20px;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
  transition: var(--transition-1);
  z-index: 2;
}

.go-top.active {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}

/*-----------------------------------*\
 * #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 500px screen
 */

@media (min-width: 500px) {
  .container {
    max-width: 550px;
    margin-inline: auto;
  }

  .section-title {
    max-width: 380px;
  }
}

@media (width <= 699px) {
  .hero-banner:nth-child(2) {
    order: -1;
  }
  .navbar-link {
    font-size: var(--fs-2);
  }
  .section-title {
    font-size: 32px;
    font-weight: 900;
  }
}

/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {
  /**
   * REUSED STYLE
   */
  .container {
    max-width: 720px;
  }

  .section-title {
    max-width: 700px;
  }
}

/**
 * responsive for larger than 992px screen
 */

@media (700px <= width <= 991px) {
  .hero-banner:nth-child(2) {
    order: -1;
  }
  .navbar-link {
    font-size: var(--fs-2);
  }
}

@media (min-width: 992px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-2: 3rem;

    /**
     * spacing
     */

    --section-padding: 100px;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 980px;
  }

  .section-content {
    position: relative;
  }

  .section-subtitle {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(0.75turn) translateX(-100%);
    transform-origin: left top;
    margin-bottom: 0;
  }

  .section-subtitle::after {
    top: 8px;
    left: auto;
    right: calc(100% + 20px);
  }

  /**
   * HEADER
   */

  .header {
    padding-block: 30px;
  }

  .header.active {
    padding-block: 15px;
  }

  .navbar-actions {
    order: 1;
    margin-left: 0;
  }

  .nav-toggle-btn {
    display: none;
  }

  .navbar {
    all: unset;
  }

  .navbar-link {
    transform: translateY(0);
    font-size: unset;
    padding-inline: 5px;
  }

  .navbar-list > li {
    margin: 0;
    padding: 0;
    overflow: visible;
  }

  .navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .navbar-link::before {
    height: 2px;
  }

  /**
   * HERO
   */

  .hero {
    position: relative;
    padding-top: 0;
  }

  .hero {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    gap: 30px;
  }

  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
  }

  .about-banner {
    margin-bottom: 0;
  }

  /**
   * SKILLS
   */

  .skills {
    display: block;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
  }

  .skills-content {
    margin-bottom: 0;
  }
  /**
   * CONTACT
   */
  .contact-content {
    margin-bottom: 0;
  }
}

/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 1150px;
  }

  .section-title {
    max-width: 1000px;
  }
  /**
   * ABOUT
   */

  .about-banner {
    max-width: 450px;
  }
}
